.modal-popup {
  background-image: url('https://images.unsplash.com/photo-1589711428920-bf084b80e0bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}
