body {
    background-color: #151515;
    color: white;
  }

  a {
      text-decoration: none;
  }

  a:visited {
    text-decoration: none;
}

  .banner {
      height: 20rem;
      display: flex;
      flex-direction: column;
      padding: 0 5rem;
      justify-content: center;
      background-image: url(https://images.unsplash.com/photo-1554127959-b04104f23bab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1001&q=80);
      background-size: cover;
      background-position: center;
  }

  h1 {
      text-transform: uppercase;
      font-size: 2rem;
      padding: 1rem 0;
  }

  .button-placeholder {
      background-color: gold;
      padding: 10px;
      color: black;
      border: 2px solid black;
      width: fit-content;
      text-transform: uppercase;
  }

  .about-us-button {
    color: gold;
    text-transform: uppercase;
    margin-top: 1rem;
  }

  .about-us-button:hover{
    text-decoration: underline;
  }

  .container {
      padding: 5rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

