#cardbody {
  color: rgb(43, 43, 43);
}

#websitebutton {
  display: flex;
  justify-content: center;
  width: 150px;
  margin: auto;
}
.btn-primary {
  color: rgb(27, 25, 25);
  background-color: #e0d531;
}

.btn hover {
}
