.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
  }
  
  .inputs {
    display: flex;
    /* border: 1px solid red; */
  }
  
  .inputs .input-box {
    /* border: 2px solid blue; */
    margin: 10px 10px;
  }
  
.footer-form .submit_button {
    color: black;
    background-color: gold;
    border: 2px solid black;
    width: 150px;
  }
  
  .footer-form .submit_button:hover {
    background-color: black;
    color: gold;
    border: 2px solid gold;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .submit-agreement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-media-icons ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
  }
  
.social-media-icons li {
    margin: 10px 10px;
    font-size: 2rem;
  }
  
  .social-media-icons li a {
    color: black;
  } 
  
  .social-media-icons li a:hover {
    color: darkgray;
  } 
