h1 {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1rem 0;
  color: gold;
}

.teamCards {
  width: 15rem;
  color: black;
  margin: 50px 45px;
}
.Allteamcards {
  display: flex;
  width: 85rem;
  justify-content: center;
  flex-wrap: wrap;
}

.Ourimages {
  transition: transform 0.3s; /*/Animation /*/

  height: 185px;
}

.Ourimages:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.Ourimages {
  height: 20rem;
}

.logo-icon {
  width: 3rem;
  height: auto;
}
