h1 {
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1rem 0;
    color: gold;
}

.container {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}