h1 {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1rem 0;
  color: gold;
}

.container {
  width: inherit;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.teamCards {
  /* border: 5px solid red; */
  width: 15rem;
  color: black;
  margin: 50px 45px;
}
.Allteamcards {
  display: flex;
  width: 90rem;
  /* flex-wrap: wrap; */
  /* align-self: center; */
  justify-content: center;
}

#websitebutton {
  text-decoration: none;
  background-color: gold;
  border: 2px solid white;
}

#websitebutton:hover {
  /* text-decoration: none; */
  background-color: black;
}

/* .teamCards img {
  width: 300px;
  height: auto;
} */
