nav {
    color: black;
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

nav a {
    color: black;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    color: gray;
}

nav a:active {
    font-weight: bold;
}
